name: Extract GC PERM Data

on:
  push:
  workflow_dispatch:
  schedule:
  - cron: '0 13 * * WED' # runs weekly on Wednesday at 9am EST (matches I-485 schedule)

jobs:
  scheduled:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install pup
        run: |
          wget -q https://github.com/ericchiang/pup/releases/download/v0.4.0/pup_v0.4.0_linux_amd64.zip
          unzip pup_v0.4.0_linux_amd64.zip
          chmod +x pup
          sudo mv pup /usr/local/bin/

      - name: Fetch HTML Content
        run: curl -o data/perm.html https://flag.dol.gov/processingtimes

      - name: Extract Elements Using pup
        run: |-
          pup 'td.xl71 text{}' < data/perm.html | grep -v '^$' | grep -v '^[[:space:]]*$' | head -1 > data/perm_time.txt

      - name: Update timestamp
        run: date -u "+%B %d, %Y at %H:%M UTC" > data/last_updated.txt

      - name: Commit and push if it changed
        run: |-
          git config user.name "Automated"
          git config user.email "actions@users.noreply.github.com"
          git add -A
          timestamp=$(date -u)
          git commit -m "Latest data: ${timestamp}" || exit 0
          git push
